<h1>Welcome, <%= @teacher.first_name %> <%= @teacher.last_name %>!</h1>

<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %>
<% end %>

<div class="form_box">
	<h2>Create a New Course</h2>
	<form action="/teachers/courses/new_course/<%= @teacher.id %>" method="post">
	  <input type="text" name="course[title]" placeholder="Course Title">
	  <input type="text" name="course[grade_level]" placeholder="Grade Level">
	  <input type="submit" value="Add Course">
	</form>
</div>

<div class="form_box">
	<h2>Your Courses</h2>
	<% if @teacher.has_courses? %>
		<table>
			<thead>
				<th>Teacher</th>
				<th>Grade Level</th>
				<th>Course Name</th>
			</thead>
				<% @teacher.courses.each do |course| %>
				<tr>
					<td><%= course.teacher.last_name %></td>
					<td><%= course.grade_level %></td>
					<td><a href='/teachers/courses/<%= course.id %>'><%= course.title %> </a></td>
				</tr>
			<% end %>
		</table>
		<% else %>
		<p>You have no courses currently listed.</p>
		<% end %>
</div>